In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import random
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from datetime import datetime
import time
import math 
import os
import matplotlib.patches as patches
import warnings
from datetime import timedelta
from dateutil.relativedelta import relativedelta
from geopy.geocoders import Nominatim

warnings.filterwarnings('ignore')

pd.options.mode.chained_assignment = None

In [8]:
user_file = "C:/Users/12sha/Documents/thesislocation/Data/user_month.csv"
user_df = pd.read_csv(user_file)
user_df = user_df.drop(['Unnamed: 0'], axis=1)
user_df = user_df.fillna(0)
#user_df.columns = ['User', 'TopMonth', 'DataMonth1', 'DataMonth2', 'DataMonth3', 'DataMonth4', 'DataMonth5']
user_df.head()

,User,TopMonth,DataMonth1,DataMonth2,DataMonth3,DataMonth4,DataMonth5,DataMonth6,DataMonth7,DataMonth8,...,DataMonth43,DataMonth44,DataMonth45,DataMonth46,DataMonth47,DataMonth48,DataMonth49,DataMonth50,DataMonth51,DataMonth52
0,0,200904,200810,200811.0,200812.0,200903.0,200904.0,200905.0,200906.0,200907.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,200811,200810,200811.0,200812.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,200811,200810,200811.0,200812.0,200901.0,200902.0,200903.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,200812,200810,200811.0,200812.0,200901.0,200902.0,200903.0,200904.0,200905.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,200904,200810,200811.0,200812.0,200901.0,200902.0,200903.0,200904.0,200905.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
# count_notrain = 0
# list_notrain = ""
user_tt_df = pd.DataFrame()

for i in range(0, 182):

    user = str(user_df.loc[i, 'User'])
    train_mn = str(user_df.loc[i, 'TopMonth'])
    test_mn = "na"

    # check if next month data is present
    date_s = str(user_df.loc[i, 'TopMonth']) + "01"
    date_d = datetime(year=int(date_s[0:4]), month=int(date_s[4:6]), day=int(date_s[6:8]))
    next_mn = date_d + relativedelta(months=1)
    next_mn = next_mn.strftime('%Y%m%d')
    next_mn = next_mn[:-2]
    next_mn_fl = False
    for j in range(1, 53):
        col_nam = "DataMonth" + str(j)
        if str(int(user_df.loc[i, col_nam])) == next_mn:
            next_mn_fl = True
            break

    # if the next month is not available, take the last available month
    if next_mn_fl == True:
        test_mn = next_mn
    else:
        for j in range(1, 53):
            col_nam = "DataMonth" + str(j)
            if int(user_df.loc[i, col_nam]) == 0:
                break
        if j-2 >= 1:
            col_nam = "DataMonth" + str(j-2)
            test_mn = str(int(user_df.loc[i, col_nam]))
            
    user_tt_df.loc[i, "User"] = user
    user_tt_df.loc[i, "TrainMonth"] = train_mn
    user_tt_df.loc[i, "TestMonth"] = test_mn
#     if test_mn == "na":
#         list_notrain = list_notrain + user + ","
#         count_notrain = count_notrain + 1